*.o
*.obj
*.so
app
bin
*.yaml
*.png
tests
mixins.txt
master.txt
get_dub_packages
get_builds_tests
*.svg
*.data
*.gp
tmp
trial
assets
test
*.html
*.config
.trial
*.log
*.dot
*.vf
mnist_data
unittest.mustache
*.wav
*.lst
*.port
*.db
test.txt
*.wsf
.test.txt
*.sqlite3
db
try_packages